.para {
    height: 100vh;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100vw;
}

.header{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../public/classroom.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
    transform: translateZ(-20px) scale(3);
}
.header h1{
    font-size: 5rem;
    color: rgba(77, 3, 100, 0.765);
    font-weight: 800;
}

.higher{
    z-index: 1;
    background-color: white;
    margin: 0;
}

