.para {
    height: 100vh;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    color: #481d6f
}

.header{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../public/classroom.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
    transform: translateZ(-20px) scale(3);
}
.header h1{
    font-size: 5rem;
    color: #44008498;
    background-color: rgba(255, 255, 255, 0.582);
    font-weight: 800;
    padding: 1rem;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.274);
}

.figcap{
    text-align: center;
    margin: 1rem;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 600;
}

.higher{
    z-index: 1;
    position: relative;
    background-color: white;
    margin: 0;
    width: 100%;
    max-width: 1500px;
    padding: 2rem;
}

.heading3{
    font-size: 2.5rem;
    color: #3f1774
}

.paragraphs{
    font-size: 1.2rem;
}

.nodes{
    text-align: center;
    border-radius: 18px;
    padding: 2rem;
    box-shadow: 0px 45px 70px rgba(101, 122, 144, 0.594);
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nodesF{
    text-align: center;
    border-radius: 18px;
    padding: 2rem;
    box-shadow: 0px 45px 70px rgba(101, 122, 144, 0.594);
    margin: 6rem;
    width: 50%;
    background-color: #BE8CEC;
}

.cards{ 
    text-align: center;
    border-radius: 18px;
    padding: 2rem;
    box-shadow: 0px 45px 70px rgba(0, 0, 0, 0.374);
    background-color: blue;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstHide{
    opacity: 0;
    transition: all 1s;
}

.firstShow{
    opacity: 1;
}

.cardsHidden{
    opacity: 0;
    transform: translateY(40%);
    transition: all 1.4s;
}

.cardsShown{
    opacity: 1;
    transform: translateY(0);
}

.infoLeftHide{
    opacity: 0;
    transform: translateX(-40%);
    transition: opacity 1s, transform 0.7s;
}

.infoRightHide{
    opacity: 0;
    transform: translateX(40%);
    transition: opacity 1s, transform 0.7s;
}

.infoShow{
    opacity: 1;
    transform: translateX(0);
}

.cards:nth-child(2){
    transition-delay: 100ms;
}
.cards:nth-child(3) {
    transition-delay: 400ms;
}
.cards:nth-child(4) {
    transition-delay: 600ms;
}

.nodeL {
    display: flex;
    justify-content: flex-start;
    margin: 3.5rem 0 3.5rem 0;
    width: 100%;
}

.nodeR {
    display: flex;
    justify-content: flex-end;
    margin: 3.5rem 0 3.5rem 0;
    width: 100%;
}

.headings4{
    font-size: 2.5rem;
    font-weight: 500;
}

.heading1{
    font-size: 4rem;
}

.nodediv{
    width: 86%;
}

@media screen and (max-width: 960px) {
    .header h1 {
        font-size: 3rem;
    }

    .heading3 {
        font-size: 1.5rem;
    }

    .headings4 {
        font-size: 1.9rem;
    }
    
    .nodeL .headings4{
        font-size: 1.3rem;
    }
    
    .nodeR .headings4 {
        font-size: 1.3rem;
    }
    
    .paragraphs {
        font-size: 0.8rem;
    }
    
    .cards{
        height: 200px;
    }
    
    .nodes{
        width: 90%;
    }
    
    .nodediv{
        width: 60%;
    }
}

@media screen and (max-width: 500px){
    .nodesF{
        width: 100%;
    }
    
    .header h1 {
        font-size: 1.5rem;
    }
    
    .figcap{
        font-size: 1rem;
    }
}
